<main>
  <h1 class='text-center'>Hello world</h1>
  <h2 class='text-end'>Hello world</h2>
  <hr />
  <div class='display-1'>
    Hello world
  </div>
  <hr />
  <div class='text-muted text-end'>Додатковий текст</div>

  <hr />

  <hr />

  <p class='text-primary'>My text</p>

  <hr />

  <div class='card'>
    <div class='card-body'>
      <button class='btn btn-primary'>Test</button>
    </div>
  </div>

</main>