<div class='card text-bg-dark'>
  <img
    class='card-img-top'
    src='https://picsum.photos/400/200'
    alt='product photo'
  />
  <div class='card-body'>
    <h5 class='card-title'>Product 123</h5>
    <p class='text-bg-secondary'>USB Flesh 32 gb</p>
    <a href='#' class='btn btn-primary'>Open</a>
  </div>
</div>

<br />
<br />
<br />
<div class='card'>

  <div class='card-header'>
    <div class='display-6'>Menu</div>
  </div>
  <ul class='list-group'>
    <li class='list-group-item'>
      <a href='#' class='btn btn-link'>Home</a>
    </li>
    <li class='list-group-item'><a
        href='#'
        class='btn btn-link'
      >Summary</a></li>
    <li class='list-group-item'><a
        href='#'
        class='btn btn-link'
      >Skills</a></li>
    <li class='list-group-item'><a
        href='#'
        class='btn btn-link'
      >Page</a></li>
  </ul>
  <div class='card-footer'>
    <button class='btn btn-dark btn-sm'>Update list</button>
  </div>
</div>

<br />
<br />
<br />

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>
        #id
      </th>
      <th>
        name
        <th>
          age
        </th>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th> 1</th>
      <td> Sem</td>
      <td> 27</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th> 2</th>
      <td> Sem</td>
      <td> 27</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th> 3</th>
      <td> Sem</td>
      <td> 27</td>
    </tr>
  </tbody>
  <tbody>
    <tr>
      <th> 1</th>
      <td> Sem</td>
      <td> 27</td>
    </tr>
  </tbody>
</table>

<div class='card text-bg-success'>
  <div class='card-header text-center'>Header</div>
  <div class='card-body text-center'>
    <h6 class='card-title'>title</h6>
    <p>this is very good portrait</p>
    <button class='btn btn-light'>click</button>
  </div>
  <div class='card-footer text-center'>footer</div>
</div>

<br />
<br />
<br />

<div class='row g-2'>
  <div class='col-4'>
    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'>title</h6>
        <p>this is very good portrait</p>
        <button class='btn btn-light'>click</button>
      </div>
      <div class='card-footer text-center'>footer</div>
    </div>
  </div>

  <div class='col-4'>
    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'>title</h6>
        <p>this is very good portrait</p>
        <button class='btn btn-light'>click</button>
      </div>
      <div class='card-footer text-center'>footer</div>
    </div>
  </div>

  <div class='col-4'>
    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'>title</h6>
        <p>this is very good portrait</p>
        <button class='btn btn-light'>click</button>
      </div>
      <div class='card-footer text-center'>footer</div>
    </div>
  </div>

  <div class='col-4'>
    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'>title</h6>
        <p>this is very good portrait</p>
        <button class='btn btn-light'>click</button>
      </div>
      <div class='card-footer text-center'>footer</div>
    </div>
  </div>

  <div class='col-4'>
    <div class='card text-bg-success'>
      <div class='card-header text-center'>Header</div>
      <div class='card-body text-center'>
        <h6 class='card-title'>title</h6>
        <p>this is very good portrait</p>
        <button class='btn btn-light'>click</button>
      </div>
      <div class='card-footer text-center'>footer</div>
    </div>
  </div>
</div>