
<footer>
  <div class='row'>
    {{#each footer}}
      <div class='col m-3 p-2 d-flex align-self-stretch'>
        <ul class='nav'>
          {{#each this}}
              <li class='nav-item '>
                <a
                  href='{{this.link}}'
                  class='nav-link {{#if @last}}disabled{{/if}}'>{{this.text}}</a>
              </li>
          {{/each}}
        </ul>
      </div>
    {{/each}}
  </div>
</footer>