<div class='row gy-4 gx-2'>
  {{#each cards}}
    <div class='col-3'>
      <div class='card text-bg-dark mb-3 h-100'>
        <div class='card-header border-light'>
          {{title}}

          {{#if idNew}}
            <span
              class='badge rounded-pill text-bg-success mx-2'
            >New</span>
          {{/if}}

          {{#if isTop}}
            <span
              class='badge rounded-pill text-bg-danger mx-2'
            >Top</span>
          {{/if}}
        </div>
        <div class='card-body h-100'>
          <p class='card-text'>{{description}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>